.footer {
  font-family: $font-text;
  color: $color-dark-lighter;
  line-height: 1.5;
  text-align: center;
  padding: 16px 20px;

  &__copyright {
    margin: 0.5em 0;
  }

  &__link {
    font-family: $font-headings;
    color: $color-red;

    &:hover,
    &:focus {
      color: $color-brown;
    }
  }
}
