$font-headings: 'Oswald', sans-serif;
$font-text: 'Roboto', sans-serif;

$color-dark: #3d3d3d;
$color-dark-lighter: #434343;
$color-yellow: #ffbd16;
$color-brown: #7c4341;
$color-grey: #dadada;
$color-red: #d0384b;

@mixin flex-sides {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
