@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.header {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #ffbd16;
}

.logo {
  font-size: 1.5em;
  line-height: 1.15;
}

.logo__text {
  color: #636363;
  margin: 0;
}

.logo__text--red {
  color: #d0384b;
}

@media screen and (min-width: 768px) {
  .header {
    height: 105px;
    padding: 0 9%;
  }
  .logo {
    font-size: 26px;
  }
}

.nav-menu {
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-transform: inherit;
  color: #3d3d3d;
  background-color: transparent;
  border: 1px solid #6b6b6b;
  border-radius: 5px;
  outline: none;
  width: 80px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu:hover, .nav-menu:focus {
  color: #24afa1;
}

.nav-bar {
  list-style-type: none;
  padding: 5px 0 0 0;
  margin: 0;
  position: absolute;
  right: 20px;
  z-index: 2;
  background-color: white;
  border-radius: 24px 5px 5px 5px;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
}

.nav-bar__item {
  padding: 10px;
  color: #3d3d3d;
  cursor: pointer;
}

.nav-bar__item:hover, .nav-bar__item:focus {
  color: #24afa1;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: none;
  }
  .nav-bar {
    padding: 0;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0px;
    font-size: 21px;
  }
  .nav-bar__item {
    padding: 0;
  }
  .nav-bar__item:first-child {
    margin-right: 60px;
  }
}

.hero {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 326px 49px auto;
      grid-template-rows: 326px 49px auto;
}

.hero-img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-color: rgba(36, 175, 161, 0.66);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 175, 161, 0.66)), to(rgba(36, 175, 161, 0.66))), url("./assets/vaccination.jpg");
  background-image: linear-gradient(rgba(36, 175, 161, 0.66), rgba(36, 175, 161, 0.66)), url("./assets/vaccination.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-img__heading {
  font-size: 38px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-top: 0.7em;
}

.hero-img__circle {
  position: relative;
}

.hero-img__circle::after {
  content: '';
  display: block;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #ffbd16;
  position: absolute;
  top: -26px;
  right: -4px;
  z-index: -1;
}

@media screen and (min-width: 680px) {
  .hero-img {
    background-size: auto 135%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    -ms-grid-rows: 570px 130px auto;
        grid-template-rows: 570px 130px auto;
  }
  .hero-img {
    background-position: 78% center;
    background-size: auto 200%;
  }
  .hero-img__heading {
    font-size: 4em;
    margin: 0 0 1.2em 0;
  }
  .hero-img__circle:after {
    width: 180px;
    height: 180px;
    top: -46px;
    right: -6px;
  }
}

.counter {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  justify-self: center;
  width: 206px;
  height: 206px;
  border-radius: 50%;
  background-color: #7c4341;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 6px solid #dadada;
  position: relative;
  z-index: 1;
}

.counter::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  z-index: -1;
  border: 6px solid white;
}

.counter__text {
  margin: 0;
}

.counter__number {
  margin: 0;
  font-size: 2em;
}

.counter__date {
  margin: 0;
  display: inline-block;
}

.counter__title {
  position: absolute;
  top: 150px;
  padding: 0 1em;
  background-color: white;
  color: #3d3d3d;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .counter {
    width: 260px;
    height: 260px;
  }
  .counter__text, .counter__date {
    font-size: 18px;
  }
  .counter__number {
    font-size: 3em;
  }
  .counter__title {
    top: 180px;
    right: -190px;
  }
}

.info {
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  line-height: 1.5;
  text-align: center;
  padding: 16px 20px;
}

.info__heading {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  margin: 30px 0;
}

.info a {
  font-family: "Oswald", sans-serif;
}

@media screen and (min-width: 768px) {
  .info {
    padding: 16px 9% 32px 9%;
  }
  .info__heading {
    font-size: 2em;
  }
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 280px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 280px));
  gap: 30px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.card {
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: transform 0.5;
          animation: transform 0.5;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__logo {
  margin: 10px;
}

.card__name {
  font-weight: 700;
  font-size: 21px;
  color: #d0384b;
}

.card__name:hover, .card__name:focus {
  color: #7c4341;
}

.card__text {
  margin: 10px 0;
}

.card__link {
  font-weight: 500;
  color: #7c4341;
  text-decoration: none;
  border: 2px solid #7c4341;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 12px 18px;
  cursor: pointer;
}

.card__link:hover, .card__link:focus {
  color: #d0384b;
  border: 2px solid #d0384b;
}

@media screen and (min-width: 768px) {
  .card__link {
    font-size: 18px;
  }
}

.footer {
  line-height: 1.5;
  text-align: center;
  padding: 16px 20px;
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  color: #434343;
  margin: 0.5em 0;
}

.footer__link {
  font-family: "Oswald", sans-serif;
  color: #d0384b;
  display: block;
}

.footer__link:hover, .footer__link:focus {
  color: #7c4341;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 16px 9%;
  }
  .footer__link {
    display: inline;
  }
  .footer__link:first-child {
    border-right: 2px solid #d0384b;
    padding-right: 0.2em;
  }
}

@media screen and (min-width: 1100px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */